@font-face {
   font-family: 'Press Start 2P';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/gprun/Documents/GitHub/digitalmediagamestudies.github.io/fonts/Press Start 2P/regular.ttf') format('truetype');
}
